<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="moe.shizuku.manager.permission.MANAGER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="moe.shizuku.manager.permission.API_V23"
        tools:node="remove" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <permission-group
        android:name="moe.shizuku.manager.permission-group.API"
        android:description="@string/permission_group_description"
        android:icon="@drawable/ic_system_icon"
        android:label="@string/permission_group_label" />

    <permission
        android:name="moe.shizuku.manager.permission.MANAGER"
        android:protectionLevel="signature" />
    <permission
        android:name="moe.shizuku.manager.permission.API_V23"
        android:description="@string/permission_description"
        android:icon="@drawable/ic_system_icon"
        android:label="@string/permission_label"
        android:permissionGroup="moe.shizuku.manager.permission-group.API"
        android:protectionLevel="dangerous" />

    <application
        android:name=".ShizukuApplication"
        android:allowBackup="true"
        android:autoRevokePermissions="allowed"
        android:banner="@drawable/ic_launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:directBootAware="true"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:banner="@mipmap/banner"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- 2023.08.03: Google play enforces that apps with LEANBACK_LAUNCHER Activity must be uploaded with App Bundle format, -->
                <!-- and possibly additional review steps. To avoid problems, remove it temporarily. -->
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".management.ApplicationManagementActivity"
            android:label="@string/home_app_management_title" />
        <activity
            android:name=".adb.AdbPairingTutorialActivity"
            android:label="@string/adb_pairing" />
        <activity
            android:name=".shell.ShellTutorialActivity"
            android:label="@string/home_terminal_title" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".starter.StarterActivity"
            android:label="@string/starter" />
        <activity
            android:name=".authorization.RequestPermissionActivity"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"
            android:theme="@style/GrantPermissions">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.REQUEST_PERMISSION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".legacy.ShellRequestHandlerActivity"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/GrantPermissions">
            <intent-filter>
                <action android:name="rikka.shizuku.intent.action.REQUEST_BINDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".legacy.LegacyIsNotSupportedActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="moe.shizuku.manager.permission.API"
            android:theme="@style/GrantPermissions">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.REQUEST_AUTHORIZATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".adb.AdbPairingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.ShizukuReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="rikka.shizuku.intent.action.REQUEST_BINDER" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".ShizukuManagerProvider"
            android:authorities="${applicationId}.shizuku"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>
