<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.shizuku.manager">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="moe.shizuku.manager.permission.MANAGER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="moe.shizuku.manager.permission.API_V23"
        tools:node="remove" />

    <permission-group
        android:name="moe.shizuku.manager.permission-group.API"
        android:description="@string/permission_group_description"
        android:icon="@drawable/ic_permission_24dp"
        android:label="@string/permission_group_label" />

    <permission
        android:name="moe.shizuku.manager.permission.MANAGER"
        android:protectionLevel="signature" />
    <permission
        android:name="moe.shizuku.manager.permission.API_V23"
        android:description="@string/permission_description"
        android:icon="@drawable/ic_permission_24dp"
        android:label="@string/permission_label"
        android:permissionGroup="moe.shizuku.manager.permission-group.API"
        android:protectionLevel="dangerous" />

    <application
        android:name=".ShizukuApplication"
        android:allowBackup="false"
        android:autoRevokePermissions="allowed"
        android:directBootAware="true"
        android:extractNativeLibs="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="r">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".management.ApplicationManagementActivity"
            android:label="@string/home_app_management_title" />
        <activity
            android:name=".cmd.TerminalTutorialActivity"
            android:label="@string/home_terminal_title" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_title" />
        <activity
            android:name=".starter.StarterActivity"
            android:label="@string/starter" />
        <activity
            android:name=".authorization.RequestPermissionActivity"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"
            android:theme="@style/GrantPermissions">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.REQUEST_PERMISSION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cmd.CmdRequestHandlerActivity"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/GrantPermissions">
            <intent-filter>
                <action android:name="rikka.shizuku.intent.action.REQUEST_BINDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".legacy.LegacyIsNotSupportedActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="moe.shizuku.manager.permission.API"
            android:theme="@style/GrantPermissions">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.REQUEST_AUTHORIZATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".starter.BootCompleteReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".starter.BootCompleteService"
            android:directBootAware="true"
            android:exported="false" />

        <provider
            android:name=".ShizukuManagerProvider"
            android:authorities="${applicationId}.shizuku"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>

</manifest>