<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.shizuku.manager">

    <uses-sdk android:maxSdkVersion="26" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="${applicationId}.permission.RECEIVE_SERVER_STARTED" />

    <permission
        android:name="${applicationId}.permission.REQUEST_AUTHORIZATION"
        android:description="@string/request_permission_description"
        android:label="@string/request_permission_label"
        android:protectionLevel="normal" />
    <permission
        android:name="${applicationId}.permission.RECEIVE_TASK_STACK_CHANGED"
        android:description="@string/receive_task_stack_changed_description"
        android:label="@string/receive_task_stack_changed_label"
        android:protectionLevel="normal" />
    <permission
        android:name="${applicationId}.permission.RECEIVE_SERVER_STARTED"
        android:protectionLevel="signature" />
    <permission
        android:name="${applicationId}.permission.RECEIVE_CLEAR_TOKEN"
        android:protectionLevel="normal" />

    <application
        android:name=".ShizukuManagerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".AuthorizationActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="${applicationId}.permission.REQUEST_AUTHORIZATION"
            android:theme="@style/GrantPermissions">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.REQUEST_AUTHORIZATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManageAppsActivity"
            android:label="@string/authorized_apps_manage"
            android:theme="@style/AppTheme.Apps" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.Apps" />
        <activity
            android:name=".TokenReceiveActivity"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.SERVER_STARTED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.AuthProvider"
            android:authorities="${applicationId}.auth"
            android:enabled="true"
            android:exported="true"
            android:permission="${applicationId}.permission.REQUEST_AUTHORIZATION" />

        <service
            android:name=".service.WorkService"
            android:exported="false" />
        <service
            android:name=".service.ShellService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>