code
  overflow: auto
  word-wrap:break-word

body
  font-family Roboto, sans-serif

body:lang(zh-hans)
  font-family Roboto, 'Noto Sans SC', sans-serif

body:lang(zh-hant)
  font-family Roboto, 'Noto Sans TC', sans-serif
