<manifest package="moe.shizuku.privileged.api"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="moe.shizuku.privileged.api.permission.REQUEST_AUTHORIZATION"/>

    <!--
        receive task stack changed (only installed in main user)

        permission: moe.shizuku.privileged.api.permission.RECEIVE_TASK_STACK_CHANGED
        action:     moe.shizuku.privileged.api.intent.action.TASK_STACK_CHANGED
        -->

    <!--
        <receiver android:name=".receiver.AbstractTokenUpdateReceiver"
                  android:enabled="true"
                  android:exported="true"
                  android:permission="moe.shizuku.privileged.api.permission.RECEIVE_SERVER_STARTED">
            <intent-filter>
                <action android:name="moe.shizuku.privileged.api.intent.action.UPDATE_TOKEN"/>
            </intent-filter>
        </receiver>
    -->
</manifest>
