*.iml
.gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/manager/signing.properties
/android-21
/android-22
/android-23
/android-24
/android-25
/android-26
/signing.properties