<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.shizuku.api">

    <uses-permission android:name="moe.shizuku.manager.permission.API" android:maxSdkVersion="23"/>
    <uses-permission-sdk-23 android:name="moe.shizuku.manager.permission.API_V23" />

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".ShizukuBinderReceiveActivity"
            android:theme="@style/ShizukuClient.Translucent"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false">
            <intent-filter>
                <action android:name="moe.shizuku.server.intent.action.SEND_BINDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
